<?xml version="1.0" encoding="utf-8"?>

<!--
Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
http://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="Usuarios" connectionString="Server=192.168.1.10;Database=usuarios;Uid=root;Pwd=aritel;" providerName="MySql.Data.MySqlClient" />
    <add name="Ariges" connectionString="Server=192.168.1.10;Database=ariges99;Uid=root;Pwd=aritel;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>
